@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "View Farmer Products";
}

<h1>View all Farmer Products</h1>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th>@Html.DisplayNameFor(model => model.Category)</th>
                <th>@Html.DisplayNameFor(model => model.ProductionDate)</th>
                <th>@Html.DisplayNameFor(model => model.Stock)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductionDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Styles {
    <style>
        body {
            background-image: url('/Images/adele-payman-2oYMwuFgnTg-unsplash.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            min-height: 110vh;
            width: 100%;
        }
    </style>
}